# # Environment variables
# .env

# # Python cache
# __pycache__/
# *.pyc

# # OS files
# desktop.ini

# # VS Code
# .vscode/

# venv/
# __pycache__/


# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc

# OS files
desktop.ini

# VS Code
.vscode/

# Virtual environment
venv/

# ML cache
.cache/
