# flask
# huggingface-hub
# supabase
# python-dotenv

# flask
# gunicorn
# groq
# supabase
# sentence-transformers
# python-dotenv



# flask
# gunicorn
# groq
# supabase
# sentence-transformers
# torch
# python-dotenv

flask==3.0.3
gunicorn==21.2.0
groq
supabase
sentence-transformers
torch
python-dotenv
requests